div.top-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  width: 100%;
}

div.signup-details {
  width: 70%;
}

div.signup-slots-table {
  width: 45%;
}

div.signup-slots-details {
  width: 55%;
  height: 100%;
}

.mat-column-slotID {
  width: 10%!important;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

.mat-column-slotName {
  width: 60%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

.mat-column-slotParty {
  width: 15%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

.mat-column-slotSlot {
  width: 15%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

div.signup-slots {
  width: 67%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}

div.field {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  align-items: center;
}

div.field-label {
  width: 20%;
  vertical-align: middle;
}

div.field-value {
  width: 80%;
}

mat-form-field {
  width: 100%;
}

mat-form-field.date-picker {
  width: 50%;
}

mat-form-field.time-picker {
  width: 50%;
}
